@font-face {
	font-family: 'Muller';
	src: url('../fonts/Fontfabric - MullerRegular.eot');
	src: local('☺'), url('../fonts/Fontfabric - MullerRegular.woff') format('woff'), url('../fonts/Fontfabric - MullerRegular.ttf') format('truetype'), url('../fonts/Fontfabric - MullerRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-ExtraBold';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: local('☺'), url('../fonts/Raleway-ExtraBold.woff') format('woff'), url('../fonts/Raleway-ExtraBold.ttf') format('truetype'), url('../fonts/Raleway-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: local('☺'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Medium';
	src: url('../fonts/Raleway-Medium.eot');
	src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('☺'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway-Light';
	src: url('../fonts/Raleway-Light.eot');
	src: local('☺'), url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf') format('truetype'), url('../fonts/Raleway-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

html {
	height: 100%;
	box-sizing: border-box;
}
*, *:after, *:before,
* img {
	box-sizing: inherit;
}
body {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 16px;
	line-height: 20.53px;
	font-weight: 300;
	line-height: 25px;
	background: linear-gradient(90deg, #11253717 0.2%, #fdfaf3 0%, #fdfaf3 100%);
	background-size: 15.25% 100%;
	background-position: 94.8% 100%;
	z-index: -10;
}
input {
	background-color: transparent;
	border: none;
	width: 100%;
	padding-right: 40px;
}
.wrap {
	position: relative;
	max-width: 1200px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin-top: 22px;
}
.phone {
	display: block;
	width: 148px;
	height: 14px;
	position: relative;
	font-family: 'Muller', sans-serif;
	font-size: 14px;
	line-height: 35px;
	font-weight: 600;
	letter-spacing: 1.22px;
	text-align: center;
	color: #252525;
}
.phone::before {
	content: '';
	position: absolute;
	top: 8px;
	right: 159px;
	width: 12px;
	height: 15px;
	background-image: url(../pictures/desktop/phone.webp);
}
.phone:hover {
	opacity: .5;
}
.header {
	background-color: #eaeef3;
	padding-top: 170px;
}
.header-menu {
	display: block;
	position: relative;
	width: 26px;
	height: 3px;
	background-color: #fff;
	border-radius: 6px;
	margin-top: 6px;
	margin-left: 7px;
}
.header-menu::after,
.header-menu::before {
	content: '';
	position: absolute;
	width: 26px;
	height: 3px;
	background-color: #fff;
	border-radius: 6px;	
}
.header-menu::after{
	top: 8px;
	left: 0;
}
.header-menu::before {
	top: 16px;
	left: 0;
}
.header-menu:hover .menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu {
	display: none;
	list-style-type: none;
	width: 1165px;
	height: 595px;
	box-shadow: 0 7px 7px 1px rgba(0, 0, 0, 0.07);
	background-color: #112537;
}
.menu li {
	list-style-type: none; 
}
.menu-item {
	list-style-type: none;
	color: rgba(255, 255, 255, .5);
	font-size: 20px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 1.43px;
	text-transform: uppercase;
	text-decoration: none;
}
.menu-item:hover {
	text-shadow: 0 0 5px rgba(0, 1, 6, 0.05);
	color: #f8a25a;
}
.logo {
	flex-basis: 40.2%;
	margin-left: auto;
}
.header-main {
	display: flex;
	flex-direction: column;
	width: 47.79%;
	justify-content: center;
	align-items: center;
	color: #fff;
	margin-top: 152px;
	margin-bottom: 151px;
}
.title {
	font-family: 'Playfair Display', serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 0.6px;
	color: #00203a;
	margin-left: 3px;
}
.title-white {
	width: 364px;
	color: #ffffff;
	font-size: 61px;
	line-height: 60px;
	letter-spacing: 1.2px;
	margin-left: 0;
	margin-bottom: 27px;
}
.text-white {
	color: #ffffff;
}
.header-main .text {
	font-family: 'Muller', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20.53px;
	letter-spacing: 0.7px;
	width: 357px;
	margin-top: 0;
}
.btn {
	display: block;
	width: 217px;
	height: 56px;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.7px;
	color: #00203a;
	border: 2px solid #112537;
	padding: 15px 7px 6px 38px;
}
.btn:hover {		
	color: #fff;
	letter-spacing: 1.7px;
	background-color: #f8a25a;
	border: 2px solid #f8a25a;
	box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
	border: none;
}
.header-main .btn {
	font-size: 14px;
	width: 277px;
	height: 56px;
	background-color: transparent;
	color: #fff;
	border-color: #fff;
	padding-left: 25px;
	padding-top: 13px;
	letter-spacing: 1.5px;
	margin-top: 20px;
	margin-right: 14%;
}
.header-main .btn:hover {
	border: 2px solid #f8a25a;
	background-color: #f8a25a;
}
.arrow-design {
	margin-left: 16px;
	width: 41px;
}
.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 158px;
}
.social {
	display: flex;
	justify-content: space-between;
	align-content: center;
	width: 115px;
	height: 14px;
	padding: 13px 0 26px;
}
.social-item {
	list-style-type: none;
	padding-left: 6px;
}
.social-item:hover {
	opacity: .5;
}
.slider {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 181px;
	height: 15px;
	list-style-type: none;
	margin-left: auto;
}
.slider-item {
	display: block;
	width: 26px;
	height: 3px;
	margin-right: 2px;
	background-color: #1a444a;
	opacity: 0.21;
}
.active {
	opacity: 1;
}
.page-features .title {
	font-size: 85px;
	font-weight: 700;
	letter-spacing: 0.28px;
	width: 83px;
	color: #fea052;
	opacity: 0.26;
	margin: 0;
	margin-bottom: 44px;
}
.features-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-basis: 25%;
}
.features-item.item-02,
.features-item.item-04 {
	padding-top: 212px;
}
.title-h3 {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #1a292f;
	line-height: 1.2;
	letter-spacing: -0.2px;
	margin: 0;
	width: 80%;
}
.features-item .text {
	width: 96%;
	color: #838383;
	letter-spacing: 1px;
}
.page-portfolio .title {
	margin-bottom: 68px;
	letter-spacing: 0.6px;
}

.portfolio-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 48.9%;
	list-style-type: none;
	margin-top: 68px;
}
.portfolio-sked:active .portfolio-box {
	display: block;
}
.portfolio-box {
	display: none;
}
.portfolio-sked,
.portfolio-sked .link {
	font-size: 18px;
	color: #807f7f;
	letter-spacing: 0.2px;
	padding-left: 3px;
	padding-bottom: 8px;
	text-decoration: none;
}
.portfolio-sked .link:hover {
	color: #00203a;
	font-weight: 600;
	letter-spacing: -0.15px;
	border-bottom: 1px solid #00203a;
}
.portfolio-slider{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	height: 552px;
	padding: 0;
	margin-top: 48px;
}
.portfolio-slider-item {
	position: relative;
	flex-basis: 22%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.portfolio-1 {
	background-image: url(../pictures/desktop/portfolio-1.webp);
}
.portfolio-2 {
	background-image: url(../pictures/desktop/portfolio-2.webp);
}
.portfolio-3 {
	background-image: url(../pictures/desktop/portfolio-3.webp);
}
.portfolio-4{
	background-image: url(../pictures/desktop/portfolio-4.webp);
}
.portfolio-slider-item:hover {
	flex-grow: 0.96;
}
.portfolio-slider-item:hover .portfolio-item {
	display: none;
}
.portfolio-img {
	display: none;
}
.portfolio-slider-item:hover .portfolio-img{
	display: block;
	width: 100%;
	height: 100%;
}
.portfolio-slider-item:hover .portfolio-link {
	display: block;
	position: absolute;
	top: calc(50% - 42px);
	left: 0;
	right: 0;
	margin: auto;
	width: 84px;
	height: 85px;
	border-radius: 50%;
	background-color: #f3b57c;
	opacity: .9;
}
.portfolio-slider-item:hover .portfolio-link::after,
.portfolio-slider-item:hover .portfolio-link::before{
	position: absolute;
	content: '';
	width: 27px;
	height: 27px;	
}
.portfolio-slider-item:hover .portfolio-link::after {
	top: 30px;
	left: 16px;
	border-right: 1px solid #fff;
}
.portfolio-slider-item:hover .portfolio-link::before {
	top: 43px;
	left: 29px;
	border-top: 1px solid #fff;
}
.portfolio-link {
	display: none;
}
.portfolio-item {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
	background-color: #3a4a58;
	opacity: .7;
}
.text-top{
	width: 72%;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.25px;
	line-height: 19px;
	margin: 0;
	padding-top: 29px;
	padding-left: 27px;
	color: #fff;
}
.text-bottom {
	position: absolute;
	left: -35px;
	bottom: 70px;
	font-family: 'Muller', sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.2px;
	transform: translateX(0) rotate(-90deg);
}
.arrow-before,
.arrow-after {
	content: '';
	position: absolute;
	width: 38px;
	height: 12px;
	top: 242px;
	z-index: 10;
}
.arrow-before {
	left: 103px;
}
.arrow-after {
	right: 101px;
}
.page-service .title {
	line-height: 25px;
}
.service-flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 79px;
	margin-bottom: 20px;
	padding-left: 2px;
}
.flex-item {
	flex-basis: 75.45%;
	margin-bottom: 77px;
	margin-left: 0;
}
.service-menu{	
	list-style-type: none;
	margin-top: 11px;
	padding: 0;
	width: 90%;
}
.service-item {
	width: 80%;
	font-size: 18px;
	color: #7d7d7d;
	line-height: 21px;
	letter-spacing: 0.2px;
	margin-bottom: 78px;
	text-decoration: none;
}
.service-item.service-4 {
	margin-bottom: 69px;
}
.service-item:hover {
	font-weight: 600;
	letter-spacing: 0;
	color: #00203a;
	padding-left: 30px;
	width: 90%;
}
.service-footer {
	display: flex;
	align-content: space-between;
	flex-direction: column;
	width: 883px;
	height: 195px;
	margin-top: 23px;
}
.service_item {

}
.service_text {

}
.text-box .title {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 19px;
	letter-spacing: 0.8px;
}
.text-box {
	flex-basis: 55%;
	width: 55%;
	height: 195px;
}
.text-box, .service-input  {
	display: none;
}

/* div */
.service-input#box-1:checked ~ .flex-item .service-footer .box-1,
.service-input#box-2:checked ~ .flex-item .service-footer .box-2,
.service-input#box-3:checked ~ .flex-item .service-footer .box-3,
.service-input#box-4:checked ~ .flex-item .service-footer .box-4,
.service-input#box-5:checked ~ .flex-item .service-footer .box-5,    
.service-input#box-6:checked ~ .flex-item .service-footer .box-6  {
	display: block;
}


/* li */
.service-input#box-1:checked ~ nav .service-menu .service-1,
.service-input#box-2:checked ~ nav .service-menu .service-2,
.service-input#box-3:checked ~ nav .service-menu .service-3, 
.service-input#box-4:checked ~ nav .service-menu .service-4,
.service-input#box-5:checked ~ nav .service-menu .service-5,
.service-input#box-6:checked ~ nav .service-menu .service-6 {
	font-weight: 600;
	letter-spacing: 0;
	color: #00203a;
	padding-left: 30px;
	width: 90%;
}

.service-footer .text {
	font-size: 18px;
	color: #5e5e5e;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.15px;
}
.text-1 {
	width: 21%;
	height: 15px;
	color: #182c3d;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.65px;
	margin-bottom: 83px;
	margin-top: 31px;
	margin-left: auto;
	padding-left: 73px;
}
.text-sub {
	font-size: 18px;
	letter-spacing: 0.32px;	
}
.video {
	display: block;
	margin: auto;
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background-color: #febc80;
	background-image: url(../pictures/desktop/play.webp);
	background-repeat: no-repeat;
	background-position: 55% 50%;
	box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.07);
}
.page-video .text {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.6px;
	text-align: center;
	margin: 23px auto 30px;
}
.page-stages .title {
	letter-spacing: 0.55px;
	margin-left: 2px;
	margin-bottom: 79px;
}
.stages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 119px;
}
.stages-item {
	display: flex;
	flex-basis: 30%;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 11px;
	margin-left: 2.1%;
}
.stages-pad {
	padding-left: 6.15px;
}
.item-numb {
	position: relative;
	display: block;
	width: 22px;
	height: 22px;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #00203a;
	text-align: center;
	line-height: 1.85;
	background-color: #fde5d1;
	border-radius: 50%;
	margin-right: 37px;
}
.numb {
	position: absolute;
	top: -7.5px;
	left: -7.5px;
	display: block;
	width: 38px;
	height: 37px;
	border-radius: 50%;
	border: 1px solid rgba(253, 229, 209, .25);
}
.numb:before {
	content: '';
	position: absolute;
	top: -9.5px;
	left: -9.5px;
	width: 54px;
	height: 53px;
	border: 1px solid #f9895d;
	border-radius: 50%;
	opacity: .08;
}
.numb:after {
	content: '';
	position: absolute;
	top: -19px;
	left: -18px;
	width: 72px;
	height: 70px;
	border: 1px solid #f9895d;
	border-radius: 50%;
	opacity: .03;
} 
.stages-text-box {
	flex-basis: 85%;
	padding-top: 3px;
}
.stages-text-box .title-h3 {
	position: relative;
	display: block;
	color: #313131;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 17px;
}
.page-stages .title-h3:after {
	content: '';
	display: block;
	margin-top: 13px;
	margin-left: 2px;
	width: 41px;
	height: 1px;
	background-color: #182c3d;
}
.stages-text-box .title-h3 sub {
	font-size: 22px;
	bottom: -0.12em;
}
.stages-text {
	color: #5e5e5e;
	letter-spacing: 0.2px;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-basis: 59%;
	padding-top: 70px;
	margin-left: 19.7%;
	padding-bottom: 67px;
}
.form:after {
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #182c3d;
	z-index: -1;
}
.form-box {
	width: 43.5%;
}
.form-box .title {
	color: #fff;
	margin-bottom: 19px;
	font-size: 39px;
	margin-top: 0;
	letter-spacing: 1.35px;
	line-height: 1.16;
}
.form .text-white {
	width: 87%;
	opacity: 0.7;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.83px;
	padding-left: 5px;
}
.form-item {
	position: relative;
	display: block;
	width: 97%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(253, 229, 209, .53);
	border-radius: 1px;
	padding-top: 16px;
	padding-bottom: 9px;
	padding-left: 3px;
	margin-bottom: 19px;
	margin-left: 4px;
}
.form-input {
	outline: none;
	height: 100%;
	color: #fff;
}
.form-item:last-of-type {
	padding-top: 18px;
	padding-bottom: 10px;
}
.item-1:after,
.item-2:after,
.item-3:after {
	position: absolute;
	content: '';
	background-repeat: no-repeat;
	right: 1px;
	height: 20px;
}
.item-1:after {
	top: calc(76% - 20px);
	background-image: url(../pictures/desktop/man.webp);
	background-repeat: no-repeat;
	width: 18px;
}
.item-2:after {
	top: calc(71% - 20px);
	background-image: url(../pictures/desktop/phone-1.webp);
	background-repeat: no-repeat;
	width: 20px;
}
.item-3:after {	
	top: calc(72% - 16px);
	background-image: url(../pictures/desktop/mail.webp);
	background-repeat: no-repeat;
	width: 22px;
	height: 16px;
}
.form-box .btn {
	width: 97.5%;
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	border-radius: 7px;
	padding: 24px 0 37px 0px;
	margin-top: 46px;
	margin-left: 4px;
	line-height: 16.52px;
	letter-spacing: 2.5px;
}
.form-box .btn:hover {
	background-color: #f8a25a;
	border: 2px solid #f8a25a;
	box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
}
.text-white.small {
	width: 100%;
	font-size: 14px;
	line-height: 1.3;
	color: #ffffff;
	opacity: 0.7;
	margin-top: 20px;
}
.page-testimonials .title {
	letter-spacing: 0.4px;
}
.slider-testimonials {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 135px auto 117px;
	width: 100%;
}
.testimonials-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 192px;
}
.item {
	position: relative;
	height: 100%;
}
.item:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #182c3d;
	opacity: .78;
}
.testimonials-box {
	position: relative;
	display: none;
	width: 100%;
	background-color: #fff;
	height: auto;
	padding: 52px 80px 31px 69px;
}
.avatar{
	position: absolute;
	display: block;
	width: 215px;
	height: 192px;
	top: calc(50% - 97px);
	right: -140px;	
}
.avatar-2 {
	object-fit: cover;
	object-position: 100% 30%;
}
.testimonials-1,
.testimonials-2,
.testimonials-3 {
	background-repeat: no-repeat;
	height: 192px;
}
.testimonials-1 {
	width: 202px;
	background-image: url(../pictures/desktop/testimonials-1.webp);
	background-position: 53% 100%;
}
.testimonials-2 {
	width: 215px;
	background-image: url(../pictures/desktop/testimonials-2.webp);
}
.testimonials-3 {
	width: 193px;
	background-image: url(../pictures/desktop/testimonials-3.webp);
	background-position: 40% 43%;
}
.item-center {
	max-width: 34.2%;
	margin-right: 7.3%;
}
.item-center .item{
	display: block;
	max-width: 100%;
}
.item-center .testimonials-box {
	display: block;
}
.testimonial-avatar {
	height: 100%;
}
.item-center .testimonials-2 {
	display: none;
}
.testimonials-box .text {
	width: 89%;
	letter-spacing: 0.15px;
}
.text-orange {
	color: #efb172;
	font-weight: 700;
	letter-spacing: 1.25px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.page-testimonials .slider {
	align-items: center;
	width: 142px;
	margin: auto;
	padding-left: 0;   
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: auto;
}
.footer-item {
	display: flex;
	align-items: center; 
}
.page-footer .text-orange {
	color: #ffc487;
	font-weight: 500;
	margin-top: 40px;
	letter-spacing: 0.1px;
	margin-left: 8px;
}
.footer-item:last-of-type .text-orange{
	margin-top: 43px;
}
.orange {
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url(../pictures/desktop/copyright.webp);
	background-repeat: no-repeat;
	margin-left: 9px;
	margin-top: 7px;
}
.footer-logo {
	flex-basis: 21%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.footer-logo .logo {
	display: block;
	margin-right: 54px;
}
.footer-item .social{
	display: flex;
	width: 148px;
	height: 25px;
	justify-content: space-between;
	align-items: flex-start;
	margin-right: 64px;
	margin-top: 25px;
}

/*page*/
.page-header {
	position: relative;
	padding-bottom: 34px;
}
.page-header::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../pictures/desktop/bg-header.webp);
	background-repeat: no-repeat;
	background-position: bottom 64.5% right 49.5%;
	z-index: -1;
}
.page-header:after {
	content: '';
	display: block;
	position: absolute;
	top: -22px;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(20, 40, 58, .9);
	z-index: -1;
}
.page-features {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 106px;
	padding-bottom: 39px;
}
.page-portfolio {
	padding-top: 38px;
	padding-bottom: 82px;
}
.page-service {
	padding-bottom: 19px;
}
.page-video {
	padding-top: 234px;
	padding-bottom: 199px;
	background-image: url(../pictures/desktop/bg-video.webp);
	background-repeat: no-repeat;
	background-size: cover;
}
.page-stages {
	padding-top: 103px;
}
.page-form {
	position: relative;
	display: flex;
	justify-content: flex-start;
}
.page-form::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-image: url(../pictures/desktop/bg-form.webp);
	background-repeat: no-repeat;
	background-size: 50% 100%;
	background-position: right;
	z-index: -10;
}
.page-testimonials {
	padding-top: 121px;
	padding-bottom: 154px;
}
.page-footer {
	background-color: #182c3d;
	padding-top: 77px;
	padding-bottom: 58px;
}



/*media*/
@media (max-width: 1800px){
	.form {
		margin-left: 17%;
	}
}
@media (max-width: 1760px){
	.item-center {
		max-width: 40%;
		margin-right: 10%;
	}
	.form {
		margin-left: 15%;
	}
}
@media (max-width: 1700px){.form::after{
	width: 55%;
}	
.form {
	margin-left: 13%;
}
}
@media (max-width: 1600px){
	.form::after{
		width: 55%;
	}
	.form {
		margin-left: 12%;
	}
	.form-box {
		width: 50%;
	}
	.form {
		flex-basis: 55%;
	}
}
@media (max-width: 1500px){
	.form::after{
		width: 60%;
	}
	.form-box {
		width: 55%;
	}
	.form {
		flex-basis: 65%;
	}
}
@media (max-width: 1300px){
	.page-header::after {
		width: 55%;
	}
	.bg-service {
		width: 100%;
	}
	.service-footer {
		width: 100%;
	}
	.text-box {
		flex-basis: 63%;
	}
	.form-box {
		width: 60%;
	}
	.item-center {
		max-width: 46%;
	}
	.testimonials-box {
		padding-right: 75px;
		padding-left: 39px;
	}
}
@media (max-width: 1200px){
	.page-header::after {
		width: 60%;
	}
	.portfolio-menu {
		width: 60%;
	}
	.testimonials-box {
		padding-left: 37px;
		padding-bottom: 15px;
		padding-top: 30px;
		width: 95%;
	}
	.form::after{
		width: 65%;
	}
}
@media (max-width: 1100px){
	.portfolio-slider-item {
		flex-basis: 25%;
	}
	.stages-item {
		flex-basis: 45%;
	}
	.page-form {
		background-size: 70% 100%;
	}
	.form {
		flex-basis: 75%;
	}
	.form::after{
		width: 70%;
	}
	.testimonials-1,
	.testimonials-3 {
		width: 170px;
	}
}
@media (max-width: 1060px) {
	.page-header::after {
		width: 65%;
	}
	.page-features {
		padding-left: 30px;
	}
	.features-item {
		flex-basis: 50%;
	}
	.features-item.item-02,
	.features-item.item-04 {
		padding-top: 165px;
	}
	.title-h3 {
		width: 50%;
	}
	.features-item .text {
		width: 65%;
	}
	.stages-item {
		flex-basis: 45%;
	}
	.stages-text-box {
		flex-basis: 85%;
	}
	.service-item {
		width: 85%;
	}
	.flex-item {
		flex-basis: 68%;
	}
	.flex-item {
		flex-basis: 70%;
	}
	.text-box {
		flex-basis: 63%;
	}
	.page-form {
		background-size: 100% 100%;
	}
	.form {
		flex-basis: 85%;
	}
	.form::after {
		opacity: .9;
		width: 65%;
	}
}

@media (max-width: 1000px) {
	.page-header:after {
		width: 70%;
	}
	.header-main {
		width: 55%;
	}
	.logo {
		width: 80%;
	}
	.portfolio-menu {
		width: 65%;
	}
	.form::after {
		width: 75%;
	}
	.form-box {
		width: 55%;
	}
	.testimonials-1, .testimonials-3 {
		width: 130px;
	}
}
@media (max-width: 850px) {
	.page-header:after {
		width: 80%;
	}
	.form::after {
		width: 80%;
	}

}

@media (max-width: 770px) {
	.wrap {
		max-width: 770px;
		padding-right: 5px;
		padding-left: 5px;
	}
	.page-header {
		padding-bottom: 164px;
	}
	.page-header::after {
		width: 100%;
		top: 0;
	}
	.page-header::before {
		background-size: cover;
		background-position: 100% 100%;
	}
	.header-nav {
		flex-direction: row-reverse;
		margin-top: 0;
		padding-top: 55px;
	}
	.phone {
		display: none;
	}
	.logo {
		margin-left: auto;
		flex-basis: 49%;
		margin-top: 16px;
		transform: scale(2.35, 1.5);
	}
	.header-menu {
		width: 64px;
		height: 5px;
		margin-right: 33px;
	}
	.header-menu::after {
		width: 64px;
		height: 5px;
		top: 19px;
	}
	.header-menu::before {
		width: 64px;
		height: 5px;
		top: 39px;
	}
	.header-main {
		width: 100%;
		margin-top: 153px;
	}
	.title.title-white {
		font-size: 100px;
		line-height: 100px;
		max-width: 604px;
		width: 100%;
		text-align: center;
		letter-spacing: 2.5px;
		margin-top: 37px;
		margin-left: 0;
	}
	.header-main .text {
		line-height: 1.2;
		max-width: 613px;
		width: 100%;
		font-size: 26px;
		letter-spacing: 1.2px;
		text-align: center;
		margin-top: 40px;
	}
	.header-main .btn {
		position: relative;
		width: 439px;
		height: 110px;
		font-size: 30px;
		letter-spacing: 2.5px;
		margin-top: 36px;
		margin-right: 1%;
		padding-left: 55px;
		padding-top: 42px;
		box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
		background-color: #f8a25a;
		border: none;
	}
	.header-main .btn::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -188px;
		left: 0;
		right: 0;
		margin: auto;
		width: 20px;
		height: 82px;
		background-image: url(../pictures/768/Arrow.png);
	}
	.arrow-design {
		display: none;
	}
	.header-bottom {
		display: none;
	}
	.page-features {
		padding-top: 94px;
		padding-left: 38px;
	}
	.page-features .title {
		margin-bottom: 45px;
	}
	.title-h3 {
		font-size: 24px;
		width: 71%;
	}
	.features-item .text {
		width: 80%;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: 0.6px;
		margin-top: 13px;
		width: 80%;
	}
	.features-item.item-02 .title {
		margin-bottom: 44px;
	}
	.features-item.item-02 .text {
		margin-top: 18px;
		margin-bottom: 0;
	}
	.features-item.item-02 .text,
	.features-item.item-04 .text {
		width: 78%;
	}
	.features-item:nth-of-type(3) .title {
		margin-bottom: 52px;
	}
	.features-item:nth-of-type(3) .text {
		margin-top: 17px;
	}
	.features-item.item-04 {
		padding-top: 174px;
	}
	.features-item.item-04 .title-h3 {
		width: 80%;
		margin-top: 7px;
		margin-bottom: 4px;
	}
	.page-portfolio {
		padding-top: 70px;
		padding-bottom: 202px;
	}
	.page-portfolio .wrap,
	.page-stages .wrap,
	.page-testimonials .wrap {	
		padding-right: 0;
		padding-left: 0;
	}
	.title {
		margin-left: 38px;
	}
	.page-portfolio.wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.page-portfolio .title {
		margin-bottom: 54px;
	}
	.portfolio-sked, .portfolio-sked .link {
		font-size: 22px;
		letter-spacing: 0;
		padding: 0;
	}
	.portfolio-menu {
		padding: 0;
		width: 90%;
		margin-left: 39px;
		margin-top: 0;
	}
	.arrow-before,
	.arrow-after {
		display: none;
	}
	.portfolio-slider {
		margin-top: 50px;
		height: 611px;
	}
	.portfolio-slider-item {
		flex-basis: 5%;
	}
	.portfolio-2 {
		flex-basis: 80%;
		margin-left: 44px;
		margin-right: 44px;
	}
	.portfolio-2 .portfolio-item  {
		display: none;
	}
	.portfolio-2::after {
		content: 'Дизайн интерьера гостиной';
		position: absolute;
		bottom: -72px;
		left: 0;
		right: 0;
		width: 304px;
		margin: auto;
		font-family: 'Raleway-SemiBold', Arial, sans-serif;
		font-size: 20px;
		font-weight: 400;
		color: #00203a;
		letter-spacing: 1.1px;
	}
	.portfolio-2 .portfolio-img{
		display: block;
	}
	.portfolio-4 {
		display: none;
	}
	.portfolio-item {
		flex-basis: 5%;
	}
	.text-top {
		display: none;
	}
	.text-bottom {
		display: none;
	}
	.page-service {
		padding: 0;
		margin: 0;
		padding-bottom: 1px;
	}
	.service-flex {
		flex-direction: column;
		margin-top: 50px;
		padding-left: 0;
	}
	.bg-service {
		width: 100%;
		object-fit: cover;
		object-position: 23% 100%;
	}
	.service-menu {
		width: 92.5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 11px;
		padding-left: 40px;
	}
	.service-item {
		width: 49%;
		font-size: 22px;
		line-height: 25px;
		letter-spacing: 0.4px;
		margin-bottom: 79px;
	}
	.service-item:hover {
		padding-left: 0;
		width: 50%;
	}
	.service-input#box-1:checked ~ nav .service-menu .service-1,
	.service-input#box-2:checked ~ nav .service-menu .service-2,
	.service-input#box-3:checked ~ nav .service-menu .service-3,
	.service-input#box-4:checked ~ nav .service-menu .service-4,
	.service-input#box-5:checked ~ nav .service-menu .service-5,
	.service-input#box-6:checked ~ nav .service-menu .service-6 {
		font-weight: 600;
		padding-left: 0;
		width: 41%;
	}
	.service-item.service-3,
	.service-item.service-4 {
		margin-bottom: 56px;
	}
	.flex-item {
		padding-bottom: 201px;
	}
	.service-footer {
		flex-direction: row;
		flex-wrap: wrap;
		width: 91%;
		margin: 27px auto 0;
	}
	.service-footer .title {
		margin-left: 0;
		margin-bottom: 0px;
	}
	.text-box {
		flex-basis: 70%;
		padding-left: 5px;
	}
	.text-1 {
		width: 20%;
		font-size: 22px;
		letter-spacing: 1.3px;
		padding-left: 4px;
		margin-top: 29px;
	}
	.text-sub {
		bottom: -0.15em;
		font-size: 22px;
		letter-spacing: 0;
	}
	.service-footer .btn {		
		width: 339px;
		height: 68px;
		font-size: 18px;
		letter-spacing: 2px;
		padding-top: 21px;
		padding-left: 84px;
		margin-top: 32px;
		margin-left: 2px;
	}
	.page-video {
		position: relative;
		padding-top: 312px;
		padding-bottom: 254px;
		background-position: 40% 101%;
		background-size: auto;		
	}
	.page-video::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: rgba(79, 93, 104, .7);
		top: 0;
		left: 0;
	}
	.page-video .wrap {
		z-index: 1;
	}
	.video {
		width: 128px;
		height: 128px;
		background-image: url(../pictures/768/play.png);
		background-repeat: no-repeat;
		background-position: 56% 49%;
		margin-left: 310px;
	}
	.page-video .text {
		width: 61%;
		font-size: 22px;
		margin-top: 37px;
		line-height: 26px;
		letter-spacing: 1.1px;
	}
	.page-stages {
		padding-top: 153px;
	}
	.page-stages .title {
		margin-left: 31px;
		margin-bottom: 69px;
	}
	.stages-list {
		justify-content: flex-start;
		margin-left: 35px;
		padding-bottom: 85px;
	}
	.stages-item {
		flex-basis: 46.2%;
		padding-bottom: 34px;
	}
	.stages-text-box .title-h3 {
		font-size: 22px;
		margin-bottom: 18px;
	}
	.stages-pad {
		padding-left: 0; 
		margin-bottom: 23px;
	}
	.page-form {

	}
	.page-form::after {
		background-size: 100% 100%;
	}
	.form {
		flex-basis: 100%;
		margin-left: 9px;
		justify-content: center;
		padding-top: 67px;
		padding-bottom: 79px;
	}
	.form::after {
		width: 100%;
	}
	.form-box {
		width: 77%;
	}
	.form-box .title {
		text-align: center;
		width: 578px;
		margin-left: 0;
		padding-right: 12px;
		font-size: 45px;
		letter-spacing: 0.3px;
		line-height: 1.18;
	}
	.form-box .title span {
		display: block;
		margin-right: 8px;
	}
	.form .text-white {
		width: 94%;
		font-size: 22px;
		letter-spacing: 1.35px;
		padding-left: 18px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 35px;
	}
	.form-item {
		font-size: 18px;
		border-width: 3px;
		width: 81%;
		margin-left: 57px;
		margin-bottom: 27px;
	}
	.form-input {
		letter-spacing: 1.5px;
	}
	.form-box .btn {
		width: 81.35%;
		padding: 30px 17px 42px 0px;
		font-size: 18px;
		margin-top: 55px;
		margin-left: 57px;
		letter-spacing: 3.2px;
		box-shadow: 0 0 49px 19px rgba(0, 0, 1, 0.02);
		border-radius: 5px;
		background-color: #f8a25a;
		border: none;
	}
	.text-white.small {
		width: 91%;
		font-size: 18px;
		margin: auto;
		margin-top: 14px;
		letter-spacing: 1px;
		padding-right: 0px;
		padding-left: 0;
		line-height: 21px;
	}
	.page-testimonials {
		padding-top: 156px;
		padding-bottom: 151px;
	}
	.page-testimonials .title {
		margin-left: 35px;
	}
	.slider-testimonials {
		margin-top: 101px;
		margin-bottom: 98px;
	}
	.testimonials-1, .testimonials-3 {
		display: none;
	}
	.item-center {
		max-width: 81.2%;
		margin-right: 9.5%;
	}
	.testimonials-box {
		padding-left: 67px;
		padding-bottom: 25px;
		padding-top: 48px;
		padding-right: 56px;
		width: 652px;
		height: 273px;
	}
	.testimonials-box .title-h3 {
		letter-spacing: -1.35px;
	}
	.avatar {
		right: -137px;
	}
	.testimonials-box .text {
		width: 89%;
		letter-spacing: 0.15px;
	}
	.page-testimonials .slider {
		width: 153px;
		padding-right: 10px;
	}
	.footer-logo .logo {
		transform: scale(0.94, 1);
		margin-top: 0px;
		margin-right: 0;
		margin-left: 20px;
	}
	.footer-item .social {
		margin-right: 69px;
		margin-top: 32px;
	}
	.page-footer .text-orange {
		margin-top: 40px;
		letter-spacing: 0.1px;
		margin-left: 32px;
	}
	.footer-item:last-of-type .text-orange {
		margin-right: 35px;
		letter-spacing: 0.5px;
		margin-left: 0px;
	}
	.orange {
		margin-left: 14px;
	}
}

@media (max-width: 321px){
	.page-header {
		padding-bottom: 20px;
	}
	.header-nav {
		padding-top: 7px;
	}
	.logo {
		flex-basis: 13%;
		margin-top: 17px;
		transform: scale(0.6, 0.83);
		margin-left: 2px;
		width: 40px;
		height: 23px;
	}
	.header-menu {
		width: 34px;
		height: 3px;
		margin-top: 19px;
		margin-right: 9px;
	}
	.header-menu::before {
		width: 34px;
		height: 4px;
		top: 9px;
	}
	.header-menu::after {
		width: 34px;
		height: 4px;
		top: 20px;
	}
	.header-main {
		margin-top: 119px;
	}
	.title.title-white {
		width: 92.1%;
		font-size: 48px;
		line-height: 48px;   
		margin-top: 1px;
		letter-spacing: 1.2px;
	}
	.header-main .text {
		line-height: 1.25;
		font-size: 18px;
		letter-spacing: 0.75px;
		margin-top: 1px;
	}
	.header-main .btn {
		width: 223px;
		height: 54px;
		font-size: 14px;
		letter-spacing: 1.05px;
		margin-top: 8px;
		margin-right: 0;
		padding-left: 36px;
		padding-top: 15px;
	}
	.header-main .btn::after {
		bottom: -99px;
		transform: scale(0.65, 0.7);
	}
	.page-features {
		padding-top: 71px;
		padding-left: 11px;
		padding-bottom: 0;
	}
	.features-item {
		flex-basis: 100%;
	}
	.page-features .title {
		margin-bottom: 44px;
	}
	.title-h3 {
		font-size: 24px;
		width: 86%;
		padding-left: 4px;
		letter-spacing: -0.15px;
	}
	.features-item .text {
		letter-spacing: 0.8px;
		padding-left: 4px;
		width: 95%;
	}
	.features-item.item-02{
		padding-top: 14px;
	}
	.features-item.item-04 {
		padding-top: 19px;
	}
	.features-item.item-04 .title-h3 {
		width: 92%;
	}
	.features-item.item-02 .text {
		width: 89%;
		margin-bottom: 9px;
	}
	.features-item.item-04 .text {
		width: 95%;
	}
	.page-portfolio {
		padding-top: 32px;
	}
	.page-portfolio .title {
		margin-left: 26px;
		margin-bottom: 25px;
	}
	.portfolio-menu {
		flex-direction: column;
		width: 100%;
		margin-left: 15px;
	}
	.portfolio-sked, .portfolio-sked .link {
		letter-spacing: 0.5px;
		padding-top: 27px;
	}
	.portfolio-slider {
		margin-top: 40px;
	}
	.page-service .title {
		margin-left: 14px;
	}
	.service-menu {
		width: 100%;
		flex-direction: column;
		padding-left: 16px;
		margin-bottom: 27px;
	}
	.service-flex {
		margin-top: 38px;
	}
	.service-item {
		width: 100%;
		letter-spacing: 0.2px;
		margin-bottom: 35px;
	}
	.service-input#box-1:checked ~ nav .service-menu .service-1, .service-input#box-2:checked ~ nav .service-menu .service-2, .service-input#box-3:checked ~ nav .service-menu .service-3, .service-input#box-4:checked ~ nav .service-menu .service-4, .service-input#box-5:checked ~ nav .service-menu .service-5, .service-input#box-6:checked ~ nav .service-menu .service-6 {
		width: 90%;
		margin-bottom: 32px;
	}
	.service-item.service-3 {
		margin-bottom: 30px;
	}
	.service-item.service-4 {
		margin-bottom: 28px;
	}
	.service-footer {
		width: 92%;
		margin-top: 1px;
	}
	.flex-item {
		padding-bottom: 173px;
	}
	.page-video {
		position: relative;
		padding-top: 226px;
		padding-bottom: 163px;
		background-position: 31% 100%;
		background-size: cover;
	}
	.video {
		width: 84px;
		height: 84px;
		background-position: 54% 49%;
		background-size: 25% 22%;
		margin: auto;
	}
	.page-video .text {
		width: 90%;
		margin-top: 27px;
		line-height: 30px;
		letter-spacing: 1px;
	}
	.page-stages {
		padding-top: 64px;
	}
	.page-stages .title {
		margin-left: 72px;
		line-height: 54px;
		margin-bottom: 38px;
	}
	.stages-list {
		margin-left: 2px;
	}
	.stages-item {
		flex-basis: 100%;
		padding-bottom: 0;
	}
	.stages-item:nth-of-type(n-2){
		/*padding-bottom: 33px;*/
	}
	.stages-item:nth-of-type(n-4){
		/*	padding-bottom: 38px;*/
	}
	.item-numb {
		display: none;
	}
	.stages-text-box {
		flex-basis: 100%;
		padding-top: 0;
	}
	.stages-text-box .title-h3 {
		font-size: 24px;
		/*margin-bottom: 20px;
		padding-left: 3px;
		letter-spacing: -0.4px;*/
	}
	.stages-text-box:nth-of-type(n-3) .title-h3 {
		/*margin-bottom: 19px;*/
	}
	.page-stages .title-h3:after {
		/*	margin-top: 12px;*/
	}
	.stages-text-box:nth-of-type(n-4){
		/*	padding-top: 0;*/
	}
	.stages-text {
	/*	padding-left: 5px;
		font-size: 18px;
		letter-spacing: 0;
		margin-bottom: 0;*/
	}
	.stages-pad {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.stages-pad:nth-of-type(n-3){
		/*	padding-top: 1px;*/
	}
	/*.stages-pad:nth-of-type(n-4){
		padding-bottom: 36px;
		}*/
		.stages-pad:nth-of-type(n-5){

		}

	}


